.container{
    width: 1267px;
    padding: 11px 15px;
    padding-top: 0;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    border: 1px solid black;
}

.minContainer{
    width: 967px;
    border: 1px solid black;
}